<header class="header">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="header-box">
          <div class="logo-title">
            <a href="{{site.baseurl}}/" class="logo-text">Carbide Sun</a>
          </div>

          <nav class="nav-menu">
            <img class="menu-close" src="{{site.baseurl}}/img/close.svg"/>
            <ul class="menu-list">
              <li class="menu-item"><a href="{{site.baseurl}}/" class="menu-link">Home</a></li>
              {% for page in site.pages %}
                {% unless page.name == 'tags.html' or page.name == '404.html' %}
              {% if page.title %}
              <li class="menu-item"><a href="{{ page.url | prepend: site.baseurl }}" class="menu-link">{{ page.title }}</a></li>
              {% endif %}
                {% endunless %}
              {% endfor %}
            </ul>
          </nav>
          <div class="nav-buttons">
            <img class="menu-button" src="{{site.baseurl}}/img/menu.svg"/>
          </div>
        </div>
      </div>
    </div>
  </div>
  <style>
  @font-face {
    font-family: 'Kezequk';
    src: url({{site.baseurl}}/font/Kezequk.woff2) format("woff2"),
         url({{site.baseurl}}/font/Kezequk.ttf) format("truetype");
  }
  </style>
</header>
<!-- /.header -->
