<aside class="sidebar">
  
  {% if page.id && site.posts.size > 1 %}
  <div class="widget widget-recent">
    <h3 class="widget-title">Other Mods</h3>
    {% for post in site.posts %}
    {% unless post.id == page.id %}
    <div class="recent-posts">
      {% if post.image %}
      <div class="recent-header">
        <a class="recent-image" href="{{ root_url }}{{ post.url | prepend: site.baseurl }}" style="background-image: url({{"/img/" | prepend: site.baseurl | append: post.image}})"></a>
      </div>
      {% else %}
      {% endif %}
      <div class="recent-content">
        <h6 class="recent-title"><a href="{{ root_url }}{{ post.url | prepend: site.baseurl }}">
        {% if post.logo %}
          <img class="texty-big" src="{{"/img/" | prepend: site.baseurl | append : post.logo}}" alt="{{post.title}}"/>
        {% else %}
          {{ post.title }}
        {% endif %}
        </a></h6>
        <div class="article-tag">
          {% if post.tags.size >= 1 %}
            {% for tag in post.tags %}
              <a href="{{ site.baseurl }}/tags#{{tag}}" class="tag">{{ tag }}</a>
            {% endfor %}
          {% endif %}
        </div>
        <div class="recent-date">
          <time datetime="{{ post.date | date_to_xmlschema }}">{{post.date | date: "%B %-d, %Y"}}</time>
        </div>
      </div>
    </div>
    {% endunless %}
    {% endfor %}
  </div>
  {% else %}
  {% endif %}
  
</aside> <!-- /.sidebar -->
